<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springBootDemo.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.example.springBootDemo.model.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `desc`
    </sql>
    <insert id="insert" parameterType="com.example.springBootDemo.model.Role">
        insert into role(`desc`) values (#{desc, jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.example.springBootDemo.model.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="desc != null">
                `desc`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="desc != null">
                #{desc, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from role
        where id = #{0}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.example.springBootDemo.model.Role">
        update role
        set `desc` = #{desc, jdbcType=VARCHAR}
        where id = #{id, jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.springBootDemo.model.Role">
        update role
        <set>
            <if test="desc != null">
                `desc` = #{desc, jdbcType=VARHCAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/>
        from role
        where id = #{0}
    </select>
</mapper>